@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
scroll-behavior:smooth;

}
.MuiButton-containedPrimary{
background:#1976d2;
}
.merriweather{
  font-family: 'Merriweather', serif;
}
body{
  font-family: 'Merriweather', serif;
    overflow-x:hidden;}
    pre {
            background-color: #282c34;
            border: 1px solid #555;
            border-radius: 4px;
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
            font-size: 14px;
            line-height: 1.5;
            margin: 1em 0;
            padding: 1em;
            overflow-x: auto;
            white-space: pre-wrap;
            color: #fff;
          }
          .article-body h1 {
            font-size: 1.5rem;
            font-weight: bold;
          }
          
          .article-body h2 {
            font-size: 1.25rem;
            font-weight: bold;
          }
          .article-body ul {
            list-style-type: disc;
            padding-left: 2rem;
          }
          
          .article-body ol {
            list-style-type: decimal;
            padding-left: 2rem;
          }